<!doctype html>
<html>

<head>
    <title>This is the title of the webpage!</title>
</head>

<body>
    <p>example paragraph<strong>example</strong> example
        <strong>example</strong>example</p>

    <form action="" method="POST">
        <label for="fname">Custom ID (auto generates if left blank):</label><br>
        <input type="text" id="shortID" name="shortID"><br>
        <label for="lname">URL:</label><br>
        <input type="text" id="longURL" name="longURL">
    </form>
</body>

</html>